#image{
    width: 400px;
    margin: auto;
    height: 400px;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
h1, h2 {
    text-align: center;

}
body{
    margin: 30px;
    background: linear-gradient(50deg, rgb(138, 138, 156), rgb(241, 152, 152), rgb(233, 233, 203))
}
#main{
    background-color: rgb(245, 248, 245);
    padding: 6px;
    position: relative;

}
#tribute-info{
    text-align: center;
    font-size: 20px;
    font-family: serif;
}
#tribute-link{
    font-size: 20px;
    text-align: center;
}